<li><a href="/story/type/main" th:classappend="${#strings.equals(category,'main')}?'on'" >인기</a></li>
<li><a href="/story/type/subscribe" th:classappend="${#strings.equals(category,'subscribe')}?'on'">구독</a></li>
<li><a href="/story/type/life" th:classappend="${#strings.equals(category,'life')}?'on'">헬시라이프</a></li>
<li><a href="/story/type/home" th:classappend="${#strings.equals(category,'home')}?'on'">로컬라이프</a></li>
<li><a href="#">홈라이프</a></li>
<li><a href="#">세라젬라이프</a></li>
<li><a href="#">여행</a></li>
<li><a href="#">뷰티</a></li>
<li><a href="#">음악</a></li>
<li><a href="#">건축/설계</a></li>
<li><a href="#">반려동물</a></li>
<li><a href="#">문화/예술</a></li>
<li><a href="#">취미/레저</a></li>
<li><a href="#">시사/이슈</a></li>
<li><a href="#">인문학/철학</a></li>
<li><a href="#">사진/촬영</a></li>