<li class="recommend-item">
    <a href="/story/writer/1234">
        <div class="box-thumb">
            <img src="/assets/web/images/temp/temp-thumb-big.png" alt="">
        </div>
        <span class="recommend-tit font-card-tit02">고작가</span>
        <p class="recommend-txt">
            평범한 일상 속의 예술을 이야기 합니다. 고작가의 방구석 예술철학을 구독하세요.
        </p>
        <div class="chips-wrap">
            <span class="chip-label chip-label-hashtag">제주여행</span>
            <span class="chip-label chip-label-hashtag">박물관</span>
            <span class="chip-label chip-label-hashtag chip-more"><span class="hidden">기타</span></span>
        </div>
    </a>
</li>