<li class="box-thumb-card">
    <a href="/story/12345">
        <div class="box-conts">
            <div class="box-header">
                <div class="box-writer">
                    <span class="writer-thumb">
                        <img src="/assets/web/images/temp/temp-thumb.png" alt="">
                    </span>
                    <span class="writer-nick">Kiu기우쌤</span>
                </div>
            </div>
            <div class="box-txt-wrap">
                <div class="chips-wrap">
                    <span class="chip-label chip-label-sm">심리테스트</span>
                    <span class="chip-label chip-label-sm yellow">지금 가장 뜨는 글</span>
                </div>
                <p class="main-txt">I가 있네, 친구없지? MBTI 환상과 환장</p>
                <span class="sub-txt">MBTI 환상의 케미, 환장의 케미</span>
            </div>
        </div>
        <div class="box-bg">
            <video muted autoplay loop playsinline preload="auto">
                <source src="/assets/web/images/temp/temp-video.mp4">
            </video>
        </div>
    </a>
    <span class="btn-act-bookmark">
        <input type="checkbox" id="bookmark1">
        <label for="bookmark1">
            북마크
        </label>
    </span>
</li>